html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-size: 28px;
}
#work-place {
    width: 90%;
    margin: 0 auto;
}
#logo-container {
    padding: 0;
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
ul {
  list-style-type: none;
}
#logo-img {
    height: auto;
    width: 50%;
    display: inline-block;
}
#menu {
    display: inline-block;
    width: 50%;
}  .menu {
    border-left: 2px solid white;
    margin-top: 5px;
    height: 25%;
    width: 100%;

}
.action-menu {
    color: white;
    background: linear-gradient(90deg, rgba(256, 256, 256, 0.7), transparent);

}
.item_menu {
    display: none;
    text-decoration: none;
}
.action-item {

}


h1 {
    margin: 0 auto;
    width: 50%;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Fredericka the Great', cursive;
}
