html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}
#work-place {
    width: 90%;
    margin: 0 auto;
}
#logo-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#logo-img {
    height: 50vh;
    width: auto;
}
#logo-text {

    transform: rotate(90deg);
    transform-origin: left top 0;

    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top 0;

    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top 0;
}